name: Continuous Integration

on:
  push:
    branches: [master]

  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        zig-version: ["0.15.2"]
        os: [ubuntu-latest]
        build-options: ["-Dssl=None -Ddisable-zlib -Ddisable-zstd", "-Dssl=OpenSSL", "-Dssl=LibreSSL"]
        include:
          # Test for users that want stability and use older kernel, glibc and zig versions
          - zig-version: "0.14.1"
            os: ubuntu-22.04 # GLIBC 2.35
            build-options: "-Dssl=LibreSSL"
          - zig-version: "master"
            os: ubuntu-latest
            build-options: "-Dssl=LibreSSL"
          - zig-version: "master"
            os: macos-latest # Apple Silicon
            build-options: "-Dssl=LibreSSL"
          # - zig-version: "master"
          #   os: macos-latest-intel
          #   build-options: "-Dssl=LibreSSL"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up Zig
        uses: mlugg/setup-zig@v2
        with:
          version: ${{ matrix.zig-version }}

      - name: Run `build`
        run: zig build ${{ matrix.build-options }} --summary all

      - name: Build example programs
        run: zig build ${{ matrix.build-options }} examples --summary all
