name: Continuous Integration

on:
  push:
    branches: [master]

  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        zig-version: ["master"]
        os: [ubuntu-latest]
        build-options: ["-Dssl=None -Ddisable-zlib -Ddisable-zstd", "-Dssl=OpenSSL", "-Dssl=LibreSSL"]
        include:
          - zig-version: "0.14.1"
            os: ubuntu-latest
            build-options: "-Dssl=LibreSSL"
          - zig-version: "0.15.2"
            os: ubuntu-latest
            build-options: "-Dssl=None"
          - zig-version: "master"
            os: macos-latest # Apple Silicon (M1)
            build-options: "-Dssl=None"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Zig
        uses: mlugg/setup-zig@v2
        with:
          version: ${{ matrix.zig-version }}
          use-cache: false

      - name: Run `build`
        run: zig build ${{ matrix.build-options }} --summary all

      - name: Build example programs
        run: zig build ${{ matrix.build-options }} examples --summary all
